*.m4
*.la
*.lo
.deps
.libs
build
config*
Makefile*
CMakeFiles
autom4te.cache
install-sh
libtool
ltmain.sh
missing
modules
mkinstalldirs
run-tests.php
CMakeCache.txt
cmake_install.cmake
/gen/tables
/php-ext/tests/*.sh
/php-ext/tests/*.exp
/php-ext/tests/*.out
/php-ext/tests/*.log
/php-ext/tests/*.php
/php-ext/tests/*.diff
/php-examples/log.txt
